.tab {
  position: relative;
  float: right;
  width: calc(100% - 128px);
  height: 100%;
}

.active_depth {
  background: rgb(83, 0, 0);
}

.tab li:hover {
  background: rgb(83, 0, 0);
}

.tab a:hover {
  color: #e2b8b8;
}

.tab a.active_depth {
  color: #e2b8b8;
}
