.tab {
  position: relative;
  color: black;
  float: right;
  width: 100%;
  height: calc(100% - 30px);
  margin-top: 30px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.05rem;
}

.active_depth {
  background: rgb(56, 54, 54);
}

.tab a:hover {
  color: #ceb8b8;
}

.tab a.active_depth {
  color: #ceb8b8;
}
