.depth2 {
  display: none;
  margin-top: 19px;
  background: rgba(133, 0, 0, 0.85);
}

.depth1:hover .depth2 {
  display: block;
  position: relative;
  z-index: 10;
}

.depth2 li a {
  display: inline-block;
  padding: 13px 0;
  width: 100%;
  z-index: 10;
}

.depth2 li a:hover {
  color: #ecc5c5;
  background: rgb(105, 0, 0);
}

.depth2 li a.active {
  color: #ecc5c5;
  background: rgb(105, 0, 0);
}
