.sidebar {
  float: left;
  width: 128px;
  height: 100%;
  padding-top: 40px;
  border-right: 1px solid antiquewhite;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.05rem;
}
