.container {
  width: 768px;
  height: 100vh;
  margin: 0 auto;
}

.section {
  clear: both;
}

.wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('.././src/images/hogwarts_dinner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
