.container {
  width: 768px;
  margin: 0 auto;
}

.section {
  height: calc(100vh - 55px);
}

.wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('.././src/images/hogwarts_dinner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
