@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.85rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: antiquewhite;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  position: absolute;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 0.85rem;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 6px;
  border-color: white;
  padding: 3px 7px;
  right: 0;
  outline: 0;
}

button:hover {
  background: rgb(133, 0, 0);
  color: white;
}

button:active {
  color: #ceb8b8;
  background: rgb(100, 0, 0);
}
